.logo {
    font-size: 24px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-weight: 900;
    text-transform: uppercase;
    padding: 8.200px 0;
    margin-right: 16px;
    color: #fff;
}


.navhideshow {
    background-color: #663399;
    /* box-shadow: 0 0 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:767.20px) {
    .navhideshow {
        display: none;
    }
}