.col {
    width: 25%;
    padding: 0px 15px;
}

.Boxes {
    padding: 24px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icones {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    margin: auto;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icon-h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;

}

p {
    text-align: center;
    margin-bottom: 1rem;

}