.Skills-section {
    padding-top: 112px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:400px) {
    .skills {
        width: 200px;
        margin: auto;

    }
}